body {
  width: 1440px;
  background-color: hsl(30, 38%, 92%);
}
.image-product {
  width: 300px;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.container-info {
  box-shadow: 5px 8px 5px #888888;
  border-radius: 10px;
  width: 580px;
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
  padding-right: 20px;
}
p {
  margin-left: 20px;
  margin-top: 30px;
}

.product-type {
  font-family: "Montserrat", sans-serif;
  color: gray;
}
.product-name {
  font-size: 33px;
  font-family: "Fraunces", serif;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  color: gray;
  font-size: 13px;
}
.product-sale-price {
  font-weight: bold;
  font-family: "Fraunces", serif;
  font-size: 28px;
  color: hsl(158, 36%, 37%);
}
.product-original-price {
  font-family: "Montserrat", sans-serif;
  padding-top: 7px;
  text-decoration-line: line-through;
  font-size: small;
  color: gray;
}
button {
  font-weight: bold;
  color: white;
  width: 255px;
  height: 38px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
  border: none;
  padding: 5px 10px 5px 10px;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  background-color: hsl(158, 36%, 37%);
  cursor: pointer;
}
.price {
  display: flex;
}
